:root {
    // grey
    --black: #000000;
    --mono95: #181818;
    --mono90: #3c3c3c;
    --mono80: #4f4f4f;
    --mono70: #636363;
    --mono60: #787878;
    --mono50: #8d8d8d;
    --mono40: #a3a3a3;
    --mono30: #b9b9b9;
    --mono20: #d0d0d0;
    --mono10: #e7e7e7;
    --white: #ffffff;

    // purple
    --purple95: #301d58;
    --purple95alpha: hsla(259, 50%, 23%, 0.25);
    --purple90: hsla(260, 52%, 30%, 1);
    --purple90alpha: hsla(260, 52%, 30%, 0.25);
    --purple80: hsla(260, 54%, 37%, 1);
    --purple80alpha: hsla(260, 54%, 37%, 0.25);
    --purple70: hsla(260, 55%, 44%, 1);
    --purple60: hsla(260, 60%, 51%, 1);
    --purple50: hsla(261, 70%, 60%, 1);
    --purple40: hsla(263, 69%, 68%, 1);
    --purple30: hsla(264, 68%, 77%, 1);
    --purple20: hsla(264, 63%, 85%, 1);
    --purple10: hsla(260, 38%, 94%, 1);

    // blue
    --blue95: #1c2756;
    --blue90: #1f3171;
    --blue80: #1f3c8e;
    --blue70: #1e47ab;
    --blue60: #1852c9;
    --blue50: #4266dd;
    --blue40: #7584e5;
    --blue30: #9da3ed;
    --blue20: #c2c4f4;
    --blue10: #e5e6fb;

    // violet
    --violet95: #491d57;
    --violet90: #5f2273;
    --violet80: #752590;
    --violet70: #8d29ae;
    --violet60: #a52bcd;
    --violet50: #ba48e1;
    --violet40: #cc73e8;
    --violet30: #dc99ef;
    --violet20: #eabff5;
    --violet10: #f7e4fb;

    //--red
    --red95: #5c1a0f;
    --red90: #781d11;
    --red80: #951e11;
    --red70: #b41e12;
    --red60: #d31b12;
    --red50: #ea4029;
    --red40: #f57053;
    --red30: #fd987e;
    --red20: #ffbfac;
    --red10: #ffe4db;

    // yellow
    --yellow95: #333310;
    --yellow90: #4d4b12;
    --yellow80: #696413;
    --yellow70: #867e11;
    --yellow60: #a4990c;
    --yellow50: #bcaf30;
    --yellow40: #ccbf60;
    --yellow30: #dbd08b;
    --yellow20: #e9e1b5;
    --yellow10: #f6f2df;

    // green
    --green95: #113813;
    --green90: #134816;
    --green80: #145918;
    --green70: #136a19;
    --green60: #117c1b;
    --green50: #349132;
    --green40: #63a95a;
    --green30: #8cc281;
    --green20: #b4daa9;
    --green10: #dcf3d2;
}
