:root {
    // grey
    --black: #000000;
    --mono95: #373737;
    --mono90: #494949;
    --mono80: #5b5b5b;
    --mono70: #6e6e6e;
    --mono60: #828282;
    --mono50: #959595;
    --mono40: #aaaaaa;
    --mono30: #bebebe;
    --mono20: #d4d4d4;
    --mono10: #e9e9e9;
    --white: #ffffff;

    // purple
    --purple95: #2c2b49;
    --purple90: #3b3a65;
    --purple80: #4a4983;
    --purple70: #5959a1;
    --purple60: #6d6cba;
    --purple50: #8683c6;
    --purple40: #9f9bd1;
    --purple30: #b8b4dd;
    --purple20: #d1cee9;
    --purple10: #e9e8f5;

    // blue
    --blue95: #1c2756;
    --blue90: #1f3478;
    --blue80: #1f419c;
    --blue70: #1a4fc1;
    --blue60: #3561dc;
    --blue50: #6579e3;
    --blue40: #8993e9;
    --blue30: #a9aeef;
    --blue20: #c8c9f5;
    --blue10: #e5e6fb;

    // violet
    --violet95: #491d57;
    --violet90: #64227a;
    --violet80: #80279e;
    --violet70: #9e2ac4;
    --violet60: #b73edf;
    --violet50: #c665e6;
    --violet40: #d486ec;
    --violet30: #e1a6f1;
    --violet20: #ecc5f6;
    --violet10: #f7e4fb;

    // red
    --red95: #5b2510;
    --red90: #7e2f12;
    --red80: #a33913;
    --red70: #c94413;
    --red60: #e65723;
    --red50: #f07648;
    --red40: #f8936c;
    --red30: #feaf90;
    --red20: #ffcbb6;
    --red10: #ffe7dc;

    // yellow
    --yellow95: #494413;
    --yellow90: #655e15;
    --yellow80: #827913;
    --yellow70: #a0950e;
    --yellow60: #b8ac25;
    --yellow50: #c6ba51;
    --yellow40: #d4c775;
    --yellow30: #e0d598;
    --yellow20: #ece4bc;
    --yellow10: #f6f2df;

    // green
    --green95: #173811;
    --green90: #1a4c12;
    --green80: #1b6012;
    --green70: #1a7610;
    --green60: #2f8b22;
    --green50: #599f49;
    --green40: #7cb36e;
    --green30: #9ec692;
    --green20: #c0dab7;
    --green10: #e1eedd;
}
