@import './themes.scss';
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

html {
    font-size: 14px;
}

body {
    font-family: 'Source Code Pro', sans-serif;
}
a,
a:hover,
a:visited {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}